<% if @restaurants.all.any? %>
  <% @restaurants.all.each do |restaurant| %>
    <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
    <p><%= restaurant.description %></p>
    <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
  <% end %>
<% else %>
    <h1>No restaurants yet</h1>
<% end %>
<hr>
  <a href="<%= new_restaurant_path %>">Add a restaurant</a>
